<div class="col-12 col-lg-6 mt-2 mb-4 position-relative">
    <form class="form pr-3" action="">
        <div class="form-group">
            <label for="id" class="mb-1">Id: </label>
            <input
                type="text"
                id="id"
                class="form-control"
                ng-model="$ctrl.item.id"
                disabled
            />
        </div>
        <div class="form-group">
            <label for="album" class="mb-1">Album: </label>
            <input
                type="text"
                id="album"
                class="form-control"
                ng-model="$ctrl.item.albumId"
                required
            />
        </div>
        <div class="form-group">
            <label for="description" class="mb-1">Description: </label>
            <textarea
                type="text"
                id="description"
                class="form-control"
                ng-model="$ctrl.item.title"
            ></textarea>
        </div>
        <div class="form-group">
            <label for="url" class="mb-1">Url: </label>
            <input
                type="text"
                id="url"
                class="form-control"
                ng-model="$ctrl.item.url"
                required
            />
        </div>
        <!-- <div class="form-group">
            <span class="btn btn-success mt-4" ng-click="">Add Photo</span>
            <input
                id="upload"
                type="file"
                class="input-file"
                name="image"
                accept="image/*"
            />
        </div> -->
        <span class="btn btn-success mt-5 ml-2 pull-right" ng-click="$ctrl.saveItem()">Save</span>
        <a href="#/photos" class="btn btn-secondary mt-5 pull-right">Cancel</a>
    </form>
</div>
<div class="img-wrap col-12 col-lg-6 mt-2 mb-4 pl-3">
    <img src="{{$ctrl.item.url}}" alt="" title="your image" class="w-100 h-100">
</div>