<article class="article col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt-2 mb-4 px-2"
    ng-repeat="item in $ctrl.folder | limitTo: $ctrl.itemLimit"
>
    <div class="article__picture-wrap position-relative mb-2 rounded">
        <a href="">
            <picture class="article__picture d-block rounded">
                <source srcset="{{item.url}}" media="(min-width: 992px)">
                <source srcset="" media="(min-width: 768px)">
                <img src="{{item.thumbnailUrl}}" alt="photo" class="article__image d-block w-100">
            </picture>
        </a>
        <div class="article__picture-overlay d-blck w-100 position-absolute rounded-bottom">
            <a href="#/photos/photo-edit/{{item.id}}" class="article__picture-view d-blck position-absolute text-center" title="Edit">
                <i class="fa fa-pencil-square-o"></i>
            </a>
            <span class="article__picture-delete d-blck position-absolute text-center" title="Delele" ng-click="$ctrl.deleteItem(item)">
                <i class="fa fa-trash-o"></i>
            </span>
        </div>
    </div>
    <p class="article__date pt-1">id - {{item.id}}</p>
</article>
<!-- ng-click="$ctrl.editItem(item)" -->