<!-- nav -->
<nav class="nav-wrap position-relative pt-4">
	<p class="nav-partition__title mb-3 pt-2 pl-3 text-uppercase">Categories</p>
	<ul class="nav-partition mb-4 {{active}}">
		<li class="nav-partition__item pl-4" ng-class="{ active: main.isActiveNav('/photos')}">
			<a href="#/photos" class="d-block">Photos</a>
		</li>
		<li class="nav-partition__item pl-4" ng-class="{ active: main.isActiveNav('/videos')}">
			<a href="#/videos" class="d-block">Videos</a>
		</li>
		<li class="nav-partition__item pl-4" ng-class="{ active: main.isActiveNav('/projects')}">
			<a href="#/projects" class="d-block">Projects</a>
		</li>
	</ul>
	<p class="nav-partition-list__title position-relative mb-3 pt-3 pl-3 text-uppercase">Albums
		<span class="icon add-folder d-blok position-absolute pt-3">
			<img src="img/rectangle-8.png" alt="">
		</span>
	</p>
	<ul class="nav-partition-list">
		<li class="nav-partition-list__item pl-4" ng-repeat="folder in main.fotosInFolder | limitTo: main.folderPhotoLimit">
			<a href="" class="nav-partition-list__link d-block">{{$index + 1}}</a>
		</li>
	</ul>
</nav>
<!-- / nav /folder/{{$index + 1}} -->