<!-- profile info-->
<div class="profile-info pt-2">
	<div class="profile__image pt-4 pb-3 text-center">
		<img src="img/profile_img.jpg" alt="profile image" class="d-inline-block rounded-circle">
	</div>
	<div class="profile__details text-center">
		<h3 class="profile__name h5 text-white">Amelia Rice</h3>
		<p class="profile__count-item">2390 files</p>
	</div>
	<a href="#/photos/photo-add" class="upload d-block mx-auto mt-4 text-center text-uppercase">UpLoad</a>
</div>
<!-- / profile info-->