@import './utils/_variables';

/* body */
body {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0px;
	padding: 0px;
	background-color: $base-bg;
	font-family: $base-font-family;
	font-size: $base-font-size!important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* titles */
p, h1, h2, h3, h4, h5, h6 {
	padding: 0;
	font-family: $title-font-family;
	font-weight: 400;
}

/* style placeholder */
input::-webkit-input-placeholder       {color: $base-color !important; font-size: 16px;}
input::-moz-placeholder                {color: $base-color !important; font-size: 16px;}
input:-moz-placeholder                 {color: $base-color !important; font-size: 16px;}
input:-ms-input-placeholder            {color: $base-color !important; font-size: 16px;}

/*other*/
input,
textarea {
	color: #333;
	font-family: $base-font-family;
	outline: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
}

a {
	color: $link-color;
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: $default-transition;

	&:hover {
		cursor: pointer;
		color: $red;
	}
}

a,
span,
div {
	outline: none!important;
}

input[type=file]
input[type=submit],
input[type=button],
button {
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

/* loader */
.loaded .app-wrap {
	visibility: hidden;
}

.icon-load {
	background: url(../img/loader.gif) no-repeat left top;
	width: 40px;
	height: 40px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.loaded .icon-load {
	display: block;
}

/* wrapper */
.app-wrap {
	padding-bottom: 60px;
	min-width: $min-width;
}