/*
* CONTENT
*/

.content {
  height: 100%;
  overflow: overlay;
  background-color: $base-bg;

  &-box {
    background-color: transparent;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

    &.hide {
      visibility: hidden;
    }

    &__header {
      position: relative;
      padding-bottom: 16px;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 24px;
        bottom: 0;
        background: #fff;
        z-index: 0;
      }
    }

    &__title {
      color: $base-color;
      z-index: 99;
    }

    &__count-item {
      font-size: 16px;
      color: #c0c0c0;
    }
  }
}

.content-box__title,
.actions {
  border-color: rgba(100, 100, 100, 0.1);

  &::after {
    content: "";
    display: inline-block;
    width: 35px;
    height: 45px;
    position: absolute;
    top: 0;
    right: -20px;
    background-color: #fff;
    transform: skewX(30deg);
    box-shadow: 1px -1px 2px rgba(100, 100, 100, 0.05);
    z-index: 0;
  }
}

.actions {
  &::after {
      left: -15px;
  }

  &__btn {
    width: 25px;
    font-size: 22px;
    color: #c0c0c0;
    transition: $default-transition;
    cursor: pointer;
    z-index: 99;

    &:hover {
      color: #000;
      opacity: 0.75;
    }

    &.collapsed {
      transform: rotate(-180deg);
    }

    &--close {
      position: relative;
      font-size: 21px;

      > input[type="checkbox"] {
        position: absolute;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
}

.article {
  &__picture-wrap {
    transition: all 0.4s ease;

    &:hover {
      box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);

      .article__picture-overlay {
        opacity: 1
      }

      + .article__date {
        color: $red-ligth;
      }
    }
  }

  &__picture {
    overflow: hidden;

    &-overlay {
      height: 20%;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.55);
      transition: all 0.5s ease;
      opacity: 0;
    }

    &-delete,
    &-view {
      width: 35px;
      height: 30px;
      top: 5px;
      font-size: 22px;
      color: #fff;

      &:hover {
        color: $red-ligth;
      }
    }

    &-view {
      left: 5px;
    }

    &-delete {
      right: 5px;
      transition: $default-transition;
      cursor: pointer;
    }
  }

  &__image {
    height: 180px;
    object-fit: cover;
  }

  &__date {
    color: #c0c0c0;
    transition: all 0.5s ease;
  }
}

/* edit photo*/

#editPhoto,
#addPhoto {
  img {
    min-width: 100%;
    min-height: 260px;
    max-height: 430px;
    object-fit: cover;
  }

  .btn {
    min-width: 80px;
  }
}

#addPhoto {
  img {
    border: 1px dotted silver;
  }
}

/* media content */
@media (min-width: 1200px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1480px) {
  .article {
    &__image {
      height: 230px;
    }

    &__picture-delete,
    &__picture-view {
      top: 10px;
    }
  }
}

@media (max-width: 575.7px) {
  .content {
    &-box {
      background-color: #fff;
      border-top: 1px solid rgba(100, 100, 100, 0.1);

      &__title {
        padding-right: 0;
        font-size: 18px;
      }

      &__count-item {
        font-size: 14px;
      }
    }
  }

  .content-box__title,
  .actions {
    border-color: transparent;

    &::after {
      display: none;
    }
  }

  .actions {
    padding-left: 0;

    &__btn {
      width: 20px;
      font-size: 16px;
      margin-left: 8px;
    }
  }
}

@media (max-width: 480px) {
  .content {
    padding: 0;

    &-box {
      &__title {
        position: relative;
        min-width: 250px;
        padding-left: 35px;
        padding-bottom: 14px;
        z-index: 99;
      }

      &--add,
      &--edit {
        .content-box__title {
          padding-bottom: 0;
        }
      }

      &__count-item {
        position: absolute;
        bottom: -5px;
        left: 35px;

      }
    }
  }
}

@media (max-height: 910px) {
  #main-content {
    height: 900px;
    padding-bottom: 50px;
  }

}


