/*
* FOOTER
*/


/* media footer */
@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 576px) {

}