/*
* MY SECTION
*/

.my-header {
  background-image: linear-gradient(to bottom, #343a40 0, #0f1214 100%);

  &__title {
    position: relative;
    padding-left: 10px;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      background-color: $red;
    }
  }
}

.logo__link {
  width: 60px;
  height: 60px;
}

.contact-list {
  &__link {
    color: $green;

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }

  &__item:nth-child(2) {
    font-weight: 400;

    a {
      color: $white;
    }

    a:hover {
      color: $red;
    }
  }

  &__item:last-child {
    a {
      width: 28px;
      height: 25px;
      color: $green;

      &:hover {
        text-decoration: none;
        color: $white;
      }
    }
  }

  .fa {
    font-size: 20px;
  }
}

.navbar {
  transition: all 0.3s ease;

  &-toggler {
    height: 44px;
  }
}

.collapse.show + .navbar-dark {
  padding-top: 15px;
  padding-bottom: 15px;
}


/* media my-section */
@media (min-width: 1200px) {

}

@media (max-width: 991.7px) {
  .my-header__title {
    font-size: 26px;
  }

  .logo__link {
    width: 45px;
    height: 45px;
  }

  .contact-list {
    &__item {
      font-size: 16px;

      &:last-child {
        a {
          width: 20px;
          height: 20px;
        }
      }
    }

    .fa {
      padding-top: 2px;
      font-size: 16px;
    }
  }
}

@media (max-width: 767.9px) {
  .container {
    max-width: 100%;
  }

  .my-header {
    &__top {
      padding: 0 15px;
    }

    &__title {
      font-size: 25px;
    }
  }

  .logo__link {
    width: 40px;
    height: 40px;
  }

  .contact-list {
    &__item {
      font-size: 14px;
    }
  }
}

@media (max-width: 575.7px) {
  .my-header__title {
    font-size: 18px;
  }
}
