/*
* sidebar
*/

.page {
	&__sidebar {
		min-width: 220px;
		height: 100%;
		background-color: #1e1d26;
		color: $text-color;
		transition: $default-transition;
	}
}

.profile {
	&-info {
		min-height: 270px;
		background-color: #272631;
	}

	&__image {
		> img {
			width: 80px;
			height: 80px;
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
		}
	}
}

.upload {
	width: 150px;
	border-radius: 20px;
	background: $red-ligth;
	font-size: 15px;
	font-weight: 400;
	line-height: 2.2;
	letter-spacing: 0.5px;
	color: #fff;
	transition: $default-transition;
	cursor: pointer;

	&:hover {
		opacity: 1;
		text-decoration: none;
		background: $red;
		font-weight: 600;
		letter-spacing: 1.5px;
		box-shadow: 0 0 3px 0 $red-ligth;
		color: #000;
	}
}

.search {
	border-top-color: #111 !important;
	border-bottom-color: #111 !important;
	background-color: #1e1d26;

	&-form {
		> .form-control {
			background-color: #1e1d26;
			box-shadow: none;
			color: $text-color-light;
		}
	}

	.input-group {
		&__btn-search {
			width: 35px;
			height: 35px;
			top: -2px;
			left: 7px;
			cursor: pointer;

			&:hover {
				.fa {
					color: $red-ligth;
				}
			}
		}
	}

	.fa {
		font-size: 22px;
		color: $base-color;
	}
}

.nav {
	&-partition,
	&-partition-list {
		line-height: 35px;

		&__title {
			font-weight: 600;
			color: $text-color-light;
		}

		&__item {
			border-left: 3px solid transparent;
			transition: $default-transition;

			&:hover {
				background-color: rgba(17, 17, 17, 0.4);
				border-left-color: $red-ligth;

				> a {
					color: $link-hover-color;
					text-decoration: none;
				}
			}

			> a {
				color: $text-color;
			}
		}

		&__item.active {
			background-color: rgba(17, 17, 17, 0.4);
			border-left-color: $red-ligth;

			> a {
				color: $link-hover-color;
			}
		}
	}
}

.add-folder {
	width: 20px;
	height: 20px;
	top: 0;
	right: 20px;
	cursor: pointer;
}

.choose-view {
	&-wrap {
		bottom: 0;
		border-top-color: #111;
		background-color: #19181e;
	}
}

/* input[type=range] */
input[type=range] {
  -webkit-appearance: none;
  width: 65%;
  margin: 4.75px 0;
  background-color: #19181e;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.5px;
  cursor: pointer;
  background: rgba(68, 68, 68, 0.75);
}
input[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: $red-ligth;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.75px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(79, 79, 79, 0.75);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.5px;
  cursor: pointer;
  background: rgba(68, 68, 68, 0.75);
}
input[type=range]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: $red-ligth;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(7, 7, 7, 0.75);
}
input[type=range]::-ms-fill-upper {
  background: rgba(68, 68, 68, 0.75);
}
input[type=range]::-ms-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: $red-ligth;
  cursor: pointer;
  height: 1.5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(68, 68, 68, 0.75);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(129, 129, 129, 0.75);
}

#sidebar-mobile {
	width: 30px;
	height: 30px;
	background-image: url(/img/profile_img.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 5px;
	border-bottom-right-radius: 25px;
	transform: translate(2px, 2px);
	transition: $default-transition;
	z-index: 9999;
}

#sidebar-mobile.active {
	width: 25px;
	height: 25px;
	background-image: url(/img/close.png);
	border-bottom-right-radius: 5px;
	transform: translate(190px, 3px);
	transition: $default-transition;
}


/* media sidebar */
@media (min-width: 1200px) {

}

@media (max-width: 991.9px) {
	.form,
	.img-wrap {
		padding: 0;
	}
}

@media (max-width: 767.9px) {
	.page__sidebar {
		position: absolute;
		transform: translateX(-220px);
		transition: $default-transition;

		&.active {
			min-width: 220px;
			width: 220px;
			position: absolute;
			transform: translateX(0px);
			transition: $default-transition;
			z-index: 999;
		}
	}

	.choose-view-wrap {
		bottom: 60px;
	}
}

@media (max-height: 910px) {
	#main-nav {
		min-height: 900px;
	}

	.choose-view-wrap {
		bottom: 50px;
	}
}


