/* reset */
$min-width: 360px;
$max-width: 1920px;
$base-bg: #f4f4f4;
$base-font-size: 16px;
$base-line-height: 1.25;
$base-font-family: 'Work Sans', sans-serif;
$custom-font-family: 'Work Sans', Arial, sans-serif;
$base-color: #444;
$link-color: #a3a2a8;
$link-hover-color: #d6d5df;
$default-transition: all 0.3s ease;

/* main variables */

//text, titles
$text-color: #a3a2a8;
$text-color-light: #d6d5df;
$title-color: $base-color;
$title-font-family: $base-font-family;


/* colors */
$green: #28a745;
$white: #ffffff;
$red: #e32323;
$blue: #265a88;
$red-ligth: #ea5a5a;