<div class="container">
	<div class="row py-5">
		<div class="col-12">
			<h2 class="h1 text-center d-blck">Welcome to my Photo Cellary Web App</h1>
		</div>

		<div class="col-12 text-center mt-5">
			<a href="#/photos" class="btn btn-success">Click Me to Start</a>
		</div>
	</div>
</div>